apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "enable-nested-virt.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "enable-nested-virt.labels" . | nindent 4 }}
data:
  config.yaml: |
    ---
    {{- if .Values.config.debug }}
    debug: true
    {{- else }}
    debug: false
    {{- end }}
    {{- if .Values.config.rules }}
    rules:
      {{- toYaml .Values.config.rules | nindent 6 }}
    {{- else }}
    rules: []
    {{- end }}
