apiVersion: v1
kind: ServiceAccount
metadata:
  name: nested-virt-webhook
  namespace: harvester-nested-virt
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nested-virt-webhook
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["kubevirt.io"]
  resources: ["virtualmachines"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nested-virt-webhook
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: nested-virt-webhook
subjects:
- kind: ServiceAccount
  name: nested-virt-webhook
  namespace: harvester-nested-virt
